In [1]:
import pandas as pd
import seaborn as sns

# Confirmados_Cumulativo

In [2]:
confirmados = pd.read_csv('datasets/Casos_Diarios_Estado_Nacional_Confirmados.csv')
confirmados.head()

,Date,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
0,13-Jan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,14-Jan,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,15-Jan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,16-Jan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,17-Jan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
confirmados.set_index('Date',drop=True,inplace=True)

In [4]:
confirmados.cumsum()

,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
Date,,,,,,,,,,,,,,,,,,,,,
13-Jan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14-Jan,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15-Jan,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16-Jan,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17-Jan,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23-May,671,4545,546,453,1303,1355,21321,951,120,254,...,1682,729,2871,1612,3353,1335,871,3316,1549,247
24-May,676,4568,551,467,1332,1355,21441,960,126,266,...,1704,746,2888,1613,3414,1356,886,3347,1566,252
25-May,708,4586,557,485,1402,1356,21776,965,128,277,...,1729,785,2901,1613,3484,1359,933,3374,1595,261
26-May,716,4589,557,486,1402,1356,21822,965,128,279,...,1729,786,2903,1613,3484,1360,944,3374,1602,261
27-May,716,4590,557,486,1402,1356,21826,965,128,279,...,1729,786,2903,1613,3484,1360,944,3374,1602,261

# Negativos_Cumulativos

In [5]:
negativos = pd.read_csv('Datasets/Casos_Diarios_Estado_Nacional_Negativos.csv')
negativos.head()

,Date,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
0,31-Dec,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1-Jan,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
2,2-Jan,0,0,0,0,0,0,10,1,0,...,0,0,1,0,0,1,0,0,0,0
3,3-Jan,0,2,0,0,0,0,6,0,0,...,1,0,0,1,0,0,0,0,0,0
4,4-Jan,0,1,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
negativos.set_index('Date',drop=True,inplace=True)

In [7]:
negativos.cumsum()

,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
Date,,,,,,,,,,,,,,,,,,,,,
31-Dec,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1-Jan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,1,1
2-Jan,0,0,0,0,0,0,10,1,0,0,...,0,0,1,0,0,2,0,0,1,1
3-Jan,0,2,0,0,0,0,16,1,0,0,...,1,0,1,1,0,2,0,0,1,1
4-Jan,0,3,0,0,0,0,17,2,0,2,...,1,0,1,1,0,2,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23-May,3351,2640,1301,655,1195,1708,26659,5513,401,1444,...,1287,3129,2950,2376,3515,4711,1708,3118,2517,1144
24-May,3379,2654,1312,670,1204,1708,26809,5534,407,1452,...,1304,3168,2975,2395,3584,4824,1720,3128,2548,1155
25-May,3396,2659,1328,688,1220,1708,27241,5538,415,1474,...,1314,3258,2988,2395,3653,4888,1759,3135,2574,1167
26-May,3400,2659,1328,689,1220,1708,27292,5538,415,1477,...,1314,3260,2988,2395,3653,4889,1780,3135,2579,1167
27-May,3400,2659,1328,689,1220,1708,27294,5538,415,1477,...,1314,3260,2988,2395,3653,4889,1780,3135,2579,1167

# Defunciones_Cumulativo

In [8]:
defunciones = pd.read_csv('Datasets/Casos_Diarios_Estado_Nacional_Defunciones.csv')
defunciones.head()

,Date,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
0,19-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,20-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,21-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,23-Feb,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
defunciones.set_index('Date',drop=True,inplace=True)

In [10]:
defunciones.cumsum()

,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
Date,,,,,,,,,,,,,,,,,,,,,
19-Feb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20-Feb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21-Feb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22-Feb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23-Feb,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23-May,28,745,33,55,91,278,1864,68,13,27,...,310,40,412,94,416,82,122,428,124,28
24-May,31,759,33,58,98,280,1903,71,17,29,...,316,42,424,96,430,84,129,435,125,28
25-May,31,770,33,59,104,285,1935,72,17,31,...,321,44,427,99,436,87,129,442,127,29
26-May,31,771,33,59,104,285,1943,72,19,32,...,323,46,427,100,438,87,130,444,129,29
27-May,31,771,33,59,106,285,1945,72,19,32,...,323,46,427,100,438,87,130,444,130,29

# Sospechosos_Cumulativo

In [11]:
sospechosos = pd.read_csv('Datasets/Casos_Diarios_Estado_Nacional_Sospechosos.csv')
sospechosos.head()

,Date,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
0,2/6/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2/7/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2/8/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2/9/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2/10/20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
sospechosos.set_index('Date',drop=True,inplace=True)

In [13]:
sospechosos.cumsum()

,AGUASCALIENTES,BAJA CALIFORNIA,BAJA CALIFORNIA SUR,CAMPECHE,CHIAPAS,CHIHUAHUA,DISTRITO FEDERAL,COAHUILA,COLIMA,DURANGO,...,QUINTANA ROO,SAN LUIS POTOSI,SINALOA,SONORA,TABASCO,TAMAULIPAS,TLAXCALA,VERACRUZ,YUCATAN,ZACATECAS
Date,,,,,,,,,,,,,,,,,,,,,
2/6/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2/7/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2/8/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2/9/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2/10/20,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5/23/20,22,462,51,24,97,967,2998,1166,4,139,...,58,53,323,716,280,822,68,555,198,13
5/24/20,26,530,55,25,123,1015,3241,1222,5,144,...,60,61,405,814,312,860,71,612,213,14
5/25/20,47,698,88,42,209,1132,4292,1478,14,194,...,106,98,617,1074,502,1106,94,816,274,23
5/26/20,94,891,135,103,352,1208,5724,1729,31,253,...,159,227,832,1365,862,1359,155,1056,373,75
5/27/20,127,913,158,124,384,1244,6791,1811,38,290,...,180,249,929,1411,1121,1467,204,1142,426,87